<?xml version="1.0" encoding="utf-8"?>
<DataType Key="02a0f96e-b42a-4e38-8fc1-421d6d4c2f89" Alias="Product - [Contentment] Content Blocks" Level="1">
  <Info>
    <Name>Product - [Contentment] Content Blocks</Name>
    <EditorAlias>Umbraco.Community.Contentment.ContentBlocks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "displayMode": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.BlocksDisplayMode, Umbraco.Community.Contentment",
      "value": {
        "allowCopy": "1",
        "allowCreateContentTemplate": "1"
      }
    }
  ],
  "contentBlockTypes": [
    {
      "key": "92b1a372-669e-4e3e-b767-847c10a2b136",
      "value": {
        "nameTemplate": "Reservation {{ $index }}",
        "overlaySize": "small",
        "enablePreview": "0"
      }
    }
  ],
  "enableFilter": "0",
  "disableSorting": "0",
  "enableDevMode": "1"
}]]></Config>
</DataType>