<?xml version="1.0" encoding="utf-8"?>
<DataType Key="366b4e47-029a-4020-a4b2-f370fd4f24e6" Alias="Product - Radio button list" Level="1">
  <Info>
    <Name>Product - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 2,
      "value": "New"
    },
    {
      "id": 1,
      "value": "Approved"
    }
  ]
}]]></Config>
</DataType>