<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c2d70fb7-0dab-4fda-b2a4-ac8616247bd6" Alias="Products - Photo - Media Picker" Level="1">
  <Info>
    <Name>Products - Photo - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>