<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2bd2474b-12d9-4f2f-a864-48f5ef22d167" Alias="Quality Dropdown" Level="1">
  <Info>
    <Name>Quality Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "New"
    },
    {
      "id": 2,
      "value": "Used (Good)"
    },
    {
      "id": 3,
      "value": "Used (Bad)"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>