<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf857661-a8f2-4d9b-ab36-a458e6d47be6" Alias="Size Dropdown" Level="1">
  <Info>
    <Name>Size Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Small"
    },
    {
      "id": 2,
      "value": "Medium"
    },
    {
      "id": 3,
      "value": "Large"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>