<?xml version="1.0" encoding="utf-8"?>
<Domain Key="8f6014ef-0000-0000-0000-000000000000" Alias="localhost:44378">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="7a73ce8d-4dd8-4b50-95ed-0646afbc649a">/DekuiWeb/Home</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>