@using Umbraco.Cms.Web.Common.PublishedModels;
@using BakWeb.Dtos;
@using Umbraco.Cms.Web.Common.Views;

@inherits UmbracoViewPage<ProductViewModel>

@{
    Layout = "Master.cshtml";
}

<div class="container mt-5 mb-5">
    <div class="card">
        <div class="row g-0">
            <div class="col-md-6 border-end">
                <div class="d-flex flex-column justify-content-center">
                    <div class="main_image">
                        <img src="@Url.GetCropUrl(Model.Image,"square", true)"
                             id="main_product_image"
                             width="350" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 right-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3>@Model.Name</h3>
                    </div>
                    <div class="mt-2 pr-3 content">
                        <p>@Model.Description</p>
                    </div>
                    @if (Model.IsReserved)
                    {
                        <div class="buttons d-flex flex-row mt-5 gap-3">
                            <button id="reserve-button" class="btn btn-primary disabled">Reserve Now</button>
                            <p>This Product is already reserved</p>
                        </div>
                    }
                    else
                    {
                        <div class="buttons d-flex flex-row mt-5 gap-3">
                            <button id="reserve-button" class="btn btn-primary">Reserve Now</button>
                            <p id="apiResult">API result will be displayed here</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        border: none;
        overflow: hidden;
    }

    .main_image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 100%;
        overflow: hidden;
    }

    .right-side {
        position: relative;
    }

</style>

@section Scripts {
    <script>
        console.log("Click")
        document.getElementById('reserve-button').addEventListener('click', async () => {
            const apiUrl = '/umbraco/api/reservations/makereservation';
            const data = {
                productId: '@Model.Key'
            };

            try {
                const response = await fetch(apiUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                } else {
                    document.getElementById('apiResult').innerText = "Success"
                }

                //const result = await response.json();
                //document.getElementById('apiResult').innerText = JSON.stringify(result);
            } catch (error) {
                console.error('Error calling API:', error);
                document.getElementById('apiResult').innerText = 'Error calling API';
            }
        });
    </script>
}