<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7af16d5-4a6c-4643-b315-2158fad71350" Alias="Photo 2023 04 05 22 54 47" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Photo20230405225447</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-01T14:07:48</CreateDate>
    <NodeName Default="Photo 2023 04 05 22 54 47" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0mlk5n1m/photo_2023-04-05_22-54-47.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>