<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="da5e1b65-a171-42cf-8f26-545bcc4a6c71" Alias="editProducts" Level="2">
  <Info>
    <Name>Edit Products</Name>
    <Icon>icon-edit color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Infrastructure</Folder>
    <Compositions />
    <DefaultTemplate>EditProducts</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f9ab770a-8c88-4402-b7f1-7e2e8fa90a11">EditProducts</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>