<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a0e4915c-e440-46c2-b5f8-82be45b8f801" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Infrastructure</Folder>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cff65c21-5861-4f29-8eb0-6122b4eaa845">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5aeb1050-6c74-4839-9ef5-7ea67f994798" SortOrder="0">products</ContentType>
    <ContentType Key="730bb9a5-762a-4138-a111-2ce55c0cb85b" SortOrder="1">register</ContentType>
    <ContentType Key="36931adf-b59b-4842-abaa-6709c2c989e9" SortOrder="2">login</ContentType>
    <ContentType Key="9cde8775-5f5d-48a3-bc63-c182f225889a" SortOrder="3">logout</ContentType>
    <ContentType Key="bad58c77-2e9e-4399-b6f6-f9507cd9c453" SortOrder="4">addProduct</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ad825b21-64f7-48ec-bf64-7de935af316a</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>64b555eb-d7e7-4c40-a39d-4dd5850a3752</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>