<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5aeb1050-6c74-4839-9ef5-7ea67f994798" Alias="products" Level="2">
  <Info>
    <Name>Products</Name>
    <Icon>icon-barcode color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Infrastructure</Folder>
    <Compositions />
    <DefaultTemplate>Products</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a0963548-7196-47d3-a590-6d2788d4f7ee">Products</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cb8e3cd0-d55e-484a-b4d5-6367b47ee294" SortOrder="0">product</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>dcb92c65-f814-4633-a4aa-4eb49ecb3b25</Key>
      <Name>Photo</Name>
      <Alias>photo</Alias>
      <Definition>c2d70fb7-0dab-4fda-b2a4-ac8616247bd6</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c8f881e4-caf0-4c43-bb07-6d548d124b61</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>